@import url("./index.css");

@keyframes panning {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  75% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.App {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  /* animation: panning 90s infinite ease; */

  .header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid var(--font-color-disabled);
    left: 0;
    right: 0;
    top: 0;
    gap: 1rem;
    position: fixed;
    height: auto;
    padding: 0.5rem;
    display: flex;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
  }

  .elevatedContainer {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: var(--backdrop-filter);
    transition: visibility 0.5s ease-in-out;
    z-index: 1;

    .side-nav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      backdrop-filter: var(--backdrop-filter);
      background: rgba(0, 0, 0, 0.5);
      overflow-x: hidden;
      transition: all 0.5s ease;

      .side-nav-header {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;
      }

      .side-nav-content {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        gap: 1.5rem;
      }
    }
  }
}
