@import url("./index.css");

@keyframes panning {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 100% 0%;
  }

  75% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.App {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  /* animation: panning 90s infinite ease; */

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--font-color-disabled);
    backdrop-filter: var(--backdrop-filter);
    left: 0;
    right: 0;
    top: 0;
    gap: 1rem;
    position: fixed;
    height: auto;
    padding: 0.5rem;
    display: flex;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
  }
}
