body {
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font Family */
  --font-family: "Montserrat";

  /* Font Weights */
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;

  /* Font Color */
  --font-color-enabled: rgba(
    255,
    255,
    255,
    calc(var(--transparency-regular) + 0.5)
  );
  --font-color-disabled: rgba(
    255,
    255,
    255,
    calc(var(--transparency-regular) - 0.3)
  );

  /* Transparency */
  --transparency-regular: 0.5;

  /* Background */
  --background: rgba(255, 255, 255, calc(var(--transparency-regular) / 2));
  --backdrop-filter: blur(0.1rem);
}
