@import url("./../../index.css");

.IconButton {
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  background: var(--background);
  border: 0.1rem solid rgba(255, 255, 255, var(--transparency-regular));
  border-radius: 2rem;
  color: var(--font-color-enabled);
  transition: background 300ms;

  &:hover {
    background: rgba(255, 255, 255, var(--transparency-regular));
    border-radius: 2rem;
    color: white;
    cursor: pointer;
  }
}
