@import url("./../../index.css");

.Task {
  display: flex;
  text-align: center;
  color: white;
  width: -webkit-fill-available;
  padding: 1rem;
  gap: 1rem;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: var(--backdrop-filter);
  border-radius: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, var(--transparency-regular));

  .material-symbols-outlined-1 {
    color: var(--font-color-enabled);
    font-size: 2rem;
  }

  .h6 {
    cursor: default;
    text-decoration: overline;
  }

  .sub-title-1 {
    text-align: center;
    color: var(--font-color-enabled);
    cursor: pointer;
  }

  .one-task {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .caption {
    color: var(--font-color-enabled);
    cursor: default;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: inherit;

    .input {
      width: inherit;
      max-width: 20rem;
      background: var(--background);
      border: none;
      padding: 1rem;
      border-radius: 1rem;
      color: white;
      font-size: medium;
      max-lines: 2;
      &::placeholder {
        color: var(--font-color-enabled);
      }

      &:focus-visible {
        outline: unset;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}
