@import url("./../../../index.css");

.Tab {
  width: fit-content;
  padding: 0.5rem;
  color: var(--font-color-enabled);
  border-radius: 1.25rem;
  transition: background 500ms;

  &:hover {
    background: rgba(255, 255, 255, var(--transparency-regular));
    border-radius: 1.25rem;
    color: white;
    cursor: pointer;
  }
}

.active {
  background: rgba(255, 255, 255, var(--transparency-regular));
  border-radius: 1.25rem;
  color: white;
}
